@import "../../styles/main.scss";

.cd-section {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    &--bg-fixed {
        min-height: 100vh;
        background-attachment: fixed;
    }

    /* backgrounds */
    &:nth-child(1) {
        background-image: url("https://i.picsum.photos/id/248/3360/1768.jpg?blur=1");
    }

    &:nth-child(2) {
        background-color: var(--cd-color-2);
    }

    &:nth-child(3) {
        background-image: url("https://i.picsum.photos/id/250/3360/1768.jpg?blur=1");
    }
}

/* all other background images */
