:root,
[data-theme="default"] {
    // main
    @include defineColorHSL(--color-primary-darker, 220, 90%, 36%);
    @include defineColorHSL(--color-primary-dark, 220, 90%, 46%);
    @include defineColorHSL(--color-primary, 220, 90%, 56%);
    @include defineColorHSL(--color-primary-light, 220, 90%, 66%);
    @include defineColorHSL(--color-primary-lighter, 220, 90%, 76%);

    @include defineColorHSL(--color-accent-darker, 355, 90%, 41%);
    @include defineColorHSL(--color-accent-dark, 355, 90%, 51%);
    @include defineColorHSL(--color-accent, 355, 90%, 61%);
    @include defineColorHSL(--color-accent-light, 355, 90%, 71%);
    @include defineColorHSL(--color-accent-lighter, 355, 90%, 81%);

    // black + white
    @include defineColorHSL(--color-black, 240, 8%, 12%);
    @include defineColorHSL(--color-white, 0, 0%, 100%);

    // feedback
    @include defineColorHSL(--color-success-darker, 94, 48%, 36%);
    @include defineColorHSL(--color-success-dark, 94, 48%, 46%);
    @include defineColorHSL(--color-success, 94, 48%, 56%);
    @include defineColorHSL(--color-success-light, 94, 48%, 66%);
    @include defineColorHSL(--color-success-lighter, 94, 48%, 76%);

    @include defineColorHSL(--color-error-darker, 355, 90%, 41%);
    @include defineColorHSL(--color-error-dark, 355, 90%, 51%);
    @include defineColorHSL(--color-error, 355, 90%, 61%);
    @include defineColorHSL(--color-error-light, 355, 90%, 71%);
    @include defineColorHSL(--color-error-lighter, 355, 90%, 81%);

    @include defineColorHSL(--color-warning-darker, 46, 100%, 41%);
    @include defineColorHSL(--color-warning-dark, 46, 100%, 51%);
    @include defineColorHSL(--color-warning, 46, 100%, 61%);
    @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
    @include defineColorHSL(--color-warning-lighter, 46, 100%, 81%);

    // color contrasts
    @include defineColorHSL(--color-bg, 0, 0%, 100%);
    @include defineColorHSL(--color-contrast-lower, 0, 0%, 95%);
    @include defineColorHSL(--color-contrast-low, 240, 1%, 83%);
    @include defineColorHSL(--color-contrast-medium, 240, 1%, 48%);
    @include defineColorHSL(--color-contrast-high, 240, 4%, 20%);
    @include defineColorHSL(--color-contrast-higher, 240, 8%, 12%);
}

[data-theme] {
    background-color: var(--color-bg);
    color: var(--color-contrast-high);
    transition: 0.75s;
}

@supports (--css: variables) {
    [data-theme="dark"] {
        // main
        @include defineColorHSL(--color-primary-darker, 338, 83%, 43%);
        @include defineColorHSL(--color-primary-dark, 338, 83%, 53%);
        @include defineColorHSL(--color-primary, 338, 83%, 63%);
        @include defineColorHSL(--color-primary-light, 338, 83%, 73%);
        @include defineColorHSL(--color-primary-lighter, 338, 83%, 83%);

        @include defineColorHSL(--color-accent-darker, 355, 90%, 41%);
        @include defineColorHSL(--color-accent-dark, 355, 90%, 51%);
        @include defineColorHSL(--color-accent, 355, 90%, 61%);
        @include defineColorHSL(--color-accent-light, 355, 90%, 71%);
        @include defineColorHSL(--color-accent-lighter, 355, 90%, 81%);

        @include defineColorHSL(--color-black, 240, 8%, 12%);
        @include defineColorHSL(--color-black-light, 240, 8%, 22%);
        @include defineColorHSL(--color-black-lighter, 240, 8%, 32%);
        @include defineColorHSL(--color-white, 0, 0%, 100%);
        @include defineColorHSL(--color-white-dark, 0, 0%, 90%);
        @include defineColorHSL(--color-white-darker, 0, 0%, 80%);

        // feedback
        @include defineColorHSL(--color-warning-darker, 46, 100%, 41%);
        @include defineColorHSL(--color-warning-dark, 46, 100%, 51%);
        @include defineColorHSL(--color-warning, 46, 100%, 61%);
        @include defineColorHSL(--color-warning-light, 46, 100%, 71%);
        @include defineColorHSL(--color-warning-lighter, 46, 100%, 81%);

        @include defineColorHSL(--color-success-darker, 94, 48%, 36%);
        @include defineColorHSL(--color-success-dark, 94, 48%, 46%);
        @include defineColorHSL(--color-success, 94, 48%, 56%);
        @include defineColorHSL(--color-success-light, 94, 48%, 66%);
        @include defineColorHSL(--color-success-lighter, 94, 48%, 76%);

        @include defineColorHSL(--color-error-darker, 355, 90%, 41%);
        @include defineColorHSL(--color-error-dark, 355, 90%, 51%);
        @include defineColorHSL(--color-error, 355, 90%, 61%);
        @include defineColorHSL(--color-error-light, 355, 90%, 71%);
        @include defineColorHSL(--color-error-lighter, 355, 90%, 81%);

        // color contrasts
        @include defineColorHSL(--color-bg, 240, 8%, 12%);
        @include defineColorHSL(--color-contrast-lower, 240, 6%, 15%);
        @include defineColorHSL(--color-contrast-low, 252, 4%, 25%);
        @include defineColorHSL(--color-contrast-medium, 240, 1%, 57%);
        @include defineColorHSL(--color-contrast-high, 0, 0%, 89%);
        @include defineColorHSL(--color-contrast-higher, 0, 0%, 100%);
    }
}

//colors

//whites
$white: rgb(255, 255, 255); //#ffffff;
$wild_sand: rgb(245, 245, 245); //#F5F5F5

//blacks
$black: rgb(0, 0, 0); //#000000;
$cod_black: rgb(5, 5, 5); //#050505;
$mine_shaft: rgb(42, 42, 42); //#2A2A2A;
$block_black: rgb(30, 30, 30); //#1E1E1E
$mb_black: rgb(15, 15, 15); //#0F0F0F

//grays
$cod_gray: rgb(14, 14, 14); //#0E0E0E;
$dove_gray: rgb(104, 103, 103); //  #686767
$dove_gray_1: rgb(112, 112, 112); //  #707070
$night_rider: rgb(51, 51, 51); //#333333
$gray: rgb(142, 142, 142); //#8E8E8E;
$alabaster: rgb(247, 247, 247); //#F7F7F7
$emperor: rgb(85, 85, 85); // #555555
$white_smoke: rgb(237, 235, 235); //EDEBEB
$concrete: rgb(242, 242, 242); //#F2F2F2
$code_gray: rgb(14, 14, 14); //#0E0E0E;
$text_gray: rgb(123, 123, 123); // #7b7b7b
$dark_gray: rgb(138, 138, 138); // #8a8a8a
$hover_gray: rgb(27, 27, 27); // #1B1B1B
$loading_gray: rgb(75, 75, 75); // #4B4B4B;
$tooltip_gray: rgb(142, 142, 142); //#8e8e8e
$french_gray: rgb(207, 207, 210); // #CFCFD2
$dusty_gray: rgb(156, 156, 156); // #9C9C9C
$silver_chalice: rgb(174, 174, 174); //#AEAEAE
$medium_gray: rgb(42, 42, 42); //#2a2a2a

//reds
$torch_red: rgb(255, 31, 31); //#FF1F1F;
$red: rgb(230, 0, 0); // #E60000
$pink: rgb(255, 127, 127); //#ff7f7f;
$alizarin_crimson: rgb(216, 35, 37); //#D82325;
$error_red: rgb(255, 0, 0); // #FF0000
$highlight_red: #e45f74;

//footer gray
$light_gray: rgb(78, 78, 78); //4E4E4E;

//silvers
$silver: rgb(200, 198, 198); //#C8C6C6;
$light_silver: rgb(195, 195, 195); //#C3C3C3;
$bombay: rgb(174, 176, 179); //AEB0B3;
$gallery: rgb(238, 238, 238); //EEEEEE;
$tooltip_silver: rgb(213, 213, 213); // d5d5d5
$alto: rgb(221, 220, 220); // #DDDCDC
//borders
$border_black: 1px solid $black;
$opacity_border_back: 1px solid rgba(0, 0, 0, 0.1);
$silver_2: rgb(193, 193, 193); //c1c1c1

//blue
$malibu: rgb(119, 186, 255); //#77BAFF

//orange
$coral: rgb(255, 127, 80);
$tomato: rgb(255, 99, 71);
$orangered: rgb(255, 69, 0);
$gold: rgb(255, 215, 0);
$orange: rgb(255, 165, 0);
$darkorange: rgb(255, 140, 0);

$indianred: rgb(205, 92, 92); //#CD5C5C
$lightcoral: rgb(240, 128, 128); //#F08080
$salmon: rgb(250, 128, 114); //#FA8072
$darksalmon: rgb(233, 150, 122); //#E9967A
$lightsalmon: rgb(255, 160, 122); //#FFA07A
$crimson: rgb(220, 20, 60); //#DC143C
$red: rgb(255, 0, 0); //#FF0000
$firebrick: rgb(178, 34, 34); //#B22222
$darkred: rgb(139, 0, 0); //#8B0000

// PINK HTML COLOR NAMES
$pink: rgb(255, 192, 203); //#FFC0CB
$lightpink: rgb(255, 182, 193); //#FFB6C1
$hotpink: rgb(255, 105, 180); //#FF69B4
$deeppink: rgb(255, 20, 147); //#FF1493
$mediumvioletred: rgb(199, 21, 133); //#C71585
$palevioletred: rgb(219, 112, 147); //#DB7093

// ORANGE HTML COLOR NAMES
$lightsalmon: rgb(255, 160, 122); //#FFA07A
$coral: rgb(255, 127, 80); //#FF7F50
$tomato: rgb(255, 99, 71); //#FF6347
$orangered: rgb(255, 69, 0); //#FF4500
$darkorange: rgb(255, 140, 0); //#FF8C00
$orange: rgb(255, 165, 0); //#FFA500

// YELLOW HTML COLOR NAMES
$gold: rgb(255, 215, 0); //#FFD700
$yellow: rgb(255, 255, 0); //#FFFF00
$lightyellow: rgb(255, 255, 224); //#FFFFE0
$lemonchiffon: rgb(255, 250, 205); //#FFFACD
$lightgoldenrodyellow: rgb(250, 250, 210); //#FAFAD2
$papayawhip: rgb(255, 239, 213); //#FFEFD5
$moccasin: rgb(255, 228, 181); //#FFE4B5
$peachpuff: rgb(255, 218, 185); //#FFDAB9
$palegoldenrod: rgb(238, 232, 170); //#EEE8AA
$khaki: rgb(240, 230, 140); //#F0E68C
$darkkhaki: rgb(189, 183, 107); //#BDB76B

// PURPLE HTML COLOR NAMES
$lavender: rgb(230, 230, 250); //#E6E6FA
$thistle: rgb(216, 191, 216); //#D8BFD8
$plum: rgb(221, 160, 221); //#DDA0DD
$violet: rgb(238, 130, 238); //#EE82EE
$orchid: rgb(218, 112, 214); //#DA70D6
$fuchsia: rgb(255, 0, 255); //#FF00FF
$magenta: rgb(255, 0, 255); //#FF00FF
$mediumorchid: rgb(186, 85, 211); //#BA55D3
$mediumpurple: rgb(147, 112, 219); //#9370DB
$rebeccapurple: rgb(102, 51, 153); //#663399
$blueviolet: rgb(138, 43, 226); //#8A2BE2
$darkviolet: rgb(148, 0, 211); //#9400D3
$darkorchid: rgb(153, 50, 204); //#9932CC
$darkmagenta: rgb(139, 0, 139); //#8B008B
$purple: rgb(128, 0, 128); //#800080
$indigo: rgb(75, 0, 130); //#4B0082
$slateblue: rgb(106, 90, 205); //#6A5ACD
$darkslateblue: rgb(72, 61, 139); //#483D8B
$mediumslateblue: rgb(123, 104, 238); //#7B68EE

// GREEN HTML COLOR NAMES
$greenyellow: rgb(173, 255, 47); //#ADFF2F
$chartreuse: rgb(127, 255, 0); //#7FFF00
$lawngreen: rgb(124, 252, 0); //#7CFC00
$lime: rgb(0, 255, 0); //#00FF00
$limegreen: rgb(50, 205, 50); //#32CD32
$palegreen: rgb(152, 251, 152); //#98FB98
$lightgreen: rgb(144, 238, 144); //#90EE90
$mediumspringgreen: rgb(0, 250, 154); //#00FA9A
$springgreen: rgb(0, 255, 127); //#00FF7F
$mediumseagreen: rgb(60, 179, 113); //#3CB371
$seagreen: rgb(46, 139, 87); //#2E8B57
$forestgreen: rgb(34, 139, 34); //#228B22
$green: rgb(0, 128, 0); //#008000
$darkgreen: rgb(0, 100, 0); //#006400
$yellowgreen: rgb(154, 205, 50); //#9ACD32
$olivedrab: rgb(107, 142, 35); //#6B8E23
$olive: rgb(128, 128, 0); //#808000
$darkolivegreen: rgb(85, 107, 47); //#556B2F
$mediumaquamarine: rgb(102, 205, 170); //#66CDAA
$darkseagreen: rgb(143, 188, 139); //#8FBC8B
$lightseagreen: rgb(32, 178, 170); //#20B2AA
$darkcyan: rgb(0, 139, 139); //#008B8B
$teal: rgb(0, 128, 128); //#008080

// BLUE HTML COLOR NAMES
$aqua: rgb(0, 255, 255); //#00FFFF
$cyan: rgb(0, 255, 255); //#00FFFF
$lightcyan: rgb(224, 255, 255); //#E0FFFF
$paleturquoise: rgb(175, 238, 238); //#AFEEEE
$aquamarine: rgb(127, 255, 212); //#7FFFD4
$turquoise: rgb(64, 224, 208); //#40E0D0
$mediumturquoise: rgb(72, 209, 204); //#48D1CC
$darkturquoise: rgb(0, 206, 209); //#00CED1
$cadetblue: rgb(95, 158, 160); //#5F9EA0
$steelblue: rgb(70, 130, 180); //#4682B4
$lightsteelblue: rgb(176, 196, 222); //#B0C4DE
$powderblue: rgb(176, 224, 230); //#B0E0E6
$lightblue: rgb(173, 216, 230); //#ADD8E6
$skyblue: rgb(135, 206, 235); //#87CEEB
$lightskyblue: rgb(135, 206, 250); //#87CEFA
$deepskyblue: rgb(0, 191, 255); //#00BFFF
$dodgerblue: rgb(30, 144, 255); //#1E90FF
$cornflowerblue: rgb(100, 149, 237); //#6495ED
$mediumslateblue: rgb(123, 104, 238); //#7B68EE
$royalblue: rgb(65, 105, 225); //#4169E1
$blue: rgb(0, 0, 255); //#0000FF
$mediumblue: rgb(0, 0, 205); //#0000CD
$darkblue: rgb(0, 0, 139); //#00008B
$navy: rgb(0, 0, 128); //#000080
$midnightblue: rgb(25, 25, 112); //#191970

// BROWN HTML COLOR NAMES
$cornsilk: rgb(255, 248, 220); //#FFF8DC
$blanchedalmond: rgb(255, 235, 205); //#FFEBCD
$bisque: rgb(255, 228, 196); //#FFE4C4
$navajowhite: rgb(255, 222, 173); //#FFDEAD
$wheat: rgb(245, 222, 179); //#F5DEB3
$burlywood: rgb(222, 184, 135); //#DEB887
$tan: rgb(210, 180, 140); //#D2B48C
$rosybrown: rgb(188, 143, 143); //#BC8F8F
$sandybrown: rgb(244, 164, 96); //#F4A460
$goldenrod: rgb(218, 165, 32); //#DAA520
$darkgoldenrod: rgb(184, 134, 11); //#B8860B
$peru: rgb(205, 133, 63); //#CD853F
$chocolate: rgb(210, 105, 30); //#D2691E
$saddlebrown: rgb(139, 69, 19); //#8B4513
$sienna: rgb(160, 82, 45); //#A0522D
$brown: rgb(165, 42, 42); //#A52A2A
$maroon: rgb(128, 0, 0); //#800000

// WHITE HTML COLOR NAMES
$white: rgb(255, 255, 255); //#FFFFFF
$snow: rgb(255, 250, 250); //#FFFAFA
$honeydew: rgb(240, 255, 240); //#F0FFF0
$mintcream: rgb(245, 255, 250); //#F5FFFA
$azure: rgb(240, 255, 255); //#F0FFFF
$aliceblue: rgb(240, 248, 255); //#F0F8FF
$ghostwhite: rgb(248, 248, 255); //#F8F8FF
$whitesmoke: rgb(245, 245, 245); //#F5F5F5
$seashell: rgb(255, 245, 238); //#FFF5EE
$beige: rgb(245, 245, 220); //#F5F5DC
$oldlace: rgb(253, 245, 230); //#FDF5E6
$floralwhite: rgb(255, 250, 240); //#FFFAF0
$ivory: rgb(255, 255, 240); //#FFFFF0
$antiquewhite: rgb(250, 235, 215); //#FAEBD7
$linen: rgb(250, 240, 230); //#FAF0E6
$lavenderblush: rgb(255, 240, 245); //#FFF0F5
$mistyrose: rgb(255, 228, 225); //#FFE4E1

// GRAY HTML COLOR NAMES
$gainsboro: rgb(220, 220, 220); //#DCDCDC
$lightgray: rgb(211, 211, 211); //#D3D3D3
$silver: rgb(192, 192, 192); //#C0C0C0
$darkgray: rgb(169, 169, 169); //#A9A9A9
$gray: rgb(128, 128, 128); //#808080
$dimgray: rgb(105, 105, 105); //#696969
$lightslategray: rgb(119, 136, 153); //#778899
$slategray: rgb(112, 128, 144); //#708090
$darkslategray: rgb(47, 79, 79); //#2F4F4F
$black: rgb(0, 0, 0); //#000000
