@import "~bootstrap/scss/bootstrap";

// Globals
@import "./partials/mixins";
@import "./partials/colors";
@import "./partials/breakpoints";
@import "./partials/spacing";
@import "./partials/grid-layout";
@import "./partials/alignment";
@import "./partials/shared-styles";
@import "./partials/typography";
@import "./partials/icons";
@import "./partials/common-variables";
@import "./partials/buttons";
@import "./partials/forms";
@import "./partials/z-index";
@import "./partials/visibility";
@import "./partials/accessibility";
@import "./partials/imported";

@import "../components/404/page404";
@import "../components/count-down/count-down";
@import "../components/first-fold/first-fold";
@import "../components/footer/footer";
@import "../components/header/header";
@import "../components/index/index";
@import "../components/landing-view/landing-view";
@import "../components/users/users";
@import "../components/wedding/wedding";
@import "../components/timeline/timeline";
@import "../components/registry/registry";

#root {
    font-family: $OpenSans;
    position: relative;
    min-height: 100vh;
}
