.header-object {
    // position: absolute;
    left: 0;
    right: 0;
    top: 20px;
    z-index: 1000;
    font-size: 0.95em;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    color: #fff;

    .current {
        color: black;
    }

    /* MIDDLE AREA */
    .logo {
        margin: 5px 0 20px;
        height: 40px;

        img {
            height: 100%;
            width: auto;
        }
    }

    /* BOTTOM AREA */
    .main-menu {
        font-weight: 500;
        margin: 0px -15px;

        > li > a {
            height: 50px;
            line-height: 46px;
            padding: 0 15px;
            border: 2px solid transparent;
            border-radius: 2px;
            background: transparent;
            display: inline-block;
            text-decoration: none;
            transition: all 0.3s;

            &:focus,
            &:active,
            &:hover {
                text-decoration: none;
                color: #e45f74;
            }
        }

        &.visible {
            display: block;
        }

        /* DROPDOWN MENU STYLING */
        li {
            list-style: none;
            display: inline-block;

            &.drop-down {
                position: relative;
                text-align: left;
            }

            > ul {
                &.drop-down-menu {
                    display: none;
                    position: absolute;
                    top: 50px;
                    left: 0;
                    min-width: 200px;
                    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
                    background: #333;

                    li {
                        display: block;
                        border-top: 1px solid #444;

                        > a {
                            display: block;
                            padding: 15px 20px;
                        }
                    }
                }

                &.drop-down-inner {
                    top: 0;
                    left: auto;
                    left: 100%;

                    li:first-child {
                        border-top: 0;
                    }
                }
            }

            i {
                margin-left: 10px;
            }
        }
    }
}

/* DROPDOWN HOVER */

.header-object .main-menu > li > a:hover,
.header-object .main-menu li a.mouseover {
    border-color: #e45f74;
}

.header-object .main-menu li.drop-down a.mouseover + ul.drop-down-menu {
    display: block;
    animation: full-opacity-anim 0.2s forwards;
}

@keyframes full-opacity-anim {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 767px) {
    .header-object {
        top: 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);

        .logo {
            margin: 10px 0;
            height: 40px;
        }

        /* BOTTOM AREA */
        .main-menu {
            text-align: left;
            display: none;
            float: none;
            clear: both;
            max-height: 400px;
            overflow: auto;
            border-top: 1px solid #ccc;
            background: #333;

            > li {
                display: block;
                float: none;
                border-bottom: 1px solid #444;

                &:last-child {
                    border-bottom: 0;
                }
            }

            li {
                > a {
                    display: block;
                    border: 0;
                    line-height: 1;
                    height: auto;
                    padding: 15px;
                    background: none;
                }
                &.drop-down {
                    > ul {
                        &.drop-down-menu {
                            /* DROPDOWN  */
                            position: static;
                            box-shadow: none;

                            li {
                                a {
                                    padding-left: 25px;
                                }
                            }
                        }

                        &.drop-down-inner {
                            li {
                                &:first-child {
                                    border-top: 1px solid #444;
                                }
                                a {
                                    padding-left: 35px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
